using './main.bicep'

param prefix = 'apexled'
param environmentName = 'pilot'
param allowedWebOrigin = 'https://replace-with-static-web-app.example'
param authIssuer = 'https://replace.ciamlogin.com/replace/v2.0'
param authAudience = 'replace-api-client-id'
param authJwksUri = 'https://replace.ciamlogin.com/replace/discovery/v2.0/keys'
param invitationBaseUrl = 'https://replace-with-static-web-app.example/accept-invitation'
param emailDeliveryUrl = 'https://replace-with-private-email-relay.example/send'
param emailFromAddress = 'security@replace-with-verified-domain.example'
param postgresAdministratorPassword = '<supply-securely-at-deployment>'
param databaseAppConnectionString = '<northledger_app-role-connection-string-from-key-vault>'
param contactSearchHmacSecret = '<64-random-characters>'
param mfaHmacSecret = '<different-64-random-characters>'
param emailDeliveryBearerToken = '<private-relay-token>'
